<!DOCTYPE html>
<html>
  <head>
ontainer/contianer/
ontainer/contianer/
ontainer/contianer/
ontainer/contianer/
ontainer/contianer/
    <meta name="author" content="Tutum dev team">
ontainer/contianer/
ontainer/contianer/
  </head>
  <body>
    <div id="content-container">
      <div id="content-container-center">
ontainer/contianer/
        <form id="choice" name='form' method="POST" action="/">
ontainer/contianer/
ontainer/contianer/
        </form>
        <div id="tip">
          (Tip: you can change your vote)
        </div>
ontainer/contianer/
ontainer/contianer/
        </div>
      </div>
    </div>
ontainer/contianer/
ontainer/contianer/

    {% if vote %}
ontainer/contianer/
      var vote = "{{vote}}";

      if(vote == "a"){
ontainer/contianer/
ontainer/contianer/
ontainer/contianer/
      }
      if(vote == "b"){
ontainer/contianer/
ontainer/contianer/
ontainer/contianer/
      }
ontainer/contianer/
    {% endif %}
  </body>
</html>
